%div{"data-role" => "header"}
  %h1
    = "Search Results"
#search-results-main{"data-role" => "content"}
  %ul{"data-role" => "listview", "id" => "meeting-list"}
    - @meetings.each do |group|
      - if !group.last.empty?
        %li{"data-role" => "list-divider"}= group.first
        - group.last.each do |meeting|
          %div{"data-collapsed-icon" => "carat-d", "data-expanded-icon" => "carat-u", "data-role" => "collapsible"}
            %h2= "#{meeting.group_name} #{meeting.time}"
            %ul{"data-inset" => "true", "data-role" => "listview"}
              - if distance_display?(group.first)
                %li= meeting_with_distance(meeting)
              - else
                %li= meeting_without_distance(meeting)
              = render "meeting_detail", meeting: meeting
= render "footer"

:javascript
  history.pushState("searched", "Search Results", "results");

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82510602-1', 'auto');
  ga('send', 'pageview');
