<div class="collapsible-set">
  <div data-role="collapsible">
  <h3>Language</h3>
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>Spanish:</legend>
        <%= radio_button_tag(:spanish, "hide") %>
        <%= label_tag(:spanish_hide, "Hide") %>
        <%= radio_button_tag(:spanish, "show", :true) %>
        <%= label_tag(:spanish_show, "Show") %>
        <%= radio_button_tag(:spanish, "only") %>
        <%= label_tag(:spanish_only, "Show Only") %>
    </fieldset>

    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>Polish:</legend>
        <%= radio_button_tag(:polish, "hide") %>
        <%= label_tag(:polish_hide, "Hide") %>
        <%= radio_button_tag(:polish, "show", :true) %>
        <%= label_tag(:polish_show, "Show") %>
        <%= radio_button_tag(:polish, "only") %>
        <%= label_tag(:polish_only, "Show Only") %>
      </fieldset>

    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
      <legend>French:</legend>
        <%= radio_button_tag(:french, "hide") %>
        <%= label_tag(:french_hide, "Hide") %>
        <%= radio_button_tag(:french, "show", :true) %>
        <%= label_tag(:french_show, "Show") %>
        <%= radio_button_tag(:french, "only") %>
        <%= label_tag(:french_only, "Show Only") %>
    </fieldset>
  </div>
</div>
