<div class="collapsible-set">
  <div data-role="collapsible">
    <h3>Location</h3>
      <%= select_tag(:city, options_for_select(@options.cities_select), {class: "menu-element"}) %>
      <fieldset data-role="controlgroup">
        <%= label_tag(:here, "Right Here", class: "here-box") %>
        <%= check_box_tag(:here, "true") %>
     </fieldset>
      <%= hidden_field_tag(:lat, nil, {class: "main-lat"}) %>
      <%= hidden_field_tag(:lng, nil, {class: "main-lng"}) %>
      <%= text_field_tag :city_text, "(Optional search text)", { class: "city-text city-text-default" }  %>
  </div>
</div>