<% cache(meeting.meeting) do %>
  <li>
    <% if meeting.closed? %>
      <%= link_to "Closed to alcoholics only", faq_path(:expand => "open-closed"), {'data-role' => 'button', 'data-icon' => 'info'} %>
    <% else %>
      <%= link_to "Open to non-alcoholics", faq_path(:expand => "open-closed"), {'data-role' => 'button', 'data-icon' => 'info', "data-iconpos" => "right", "data-ajax" => "false", "rel" => "external"} %>
    <% end %>
  </li>
  <% if meeting.format.length > 0 %>
    <li class="ui-li-desc"><strong><%= "Format: " %></strong><%= meeting.format %></li>
  <% end %>
  <% if meeting.language.length > 0 %>
    <li class="ui-li-desc"><strong><%= "Language: " %></strong><%= meeting.language %></li>
  <% end %>
  <% if meeting.features.length > 0 %>
    <li class="ui-li-desc"><strong><%= "Features: " %></strong><%= meeting.features %></li>
  <% end %>
  <% if meeting.foci.length > 0 %>
    <li class="ui-li-desc"><strong><%= "Special Focus: " %></strong><%= meeting.foci %></li>
  <% end %>
  <li><%= link_to raw(meeting.address), meeting.map_url, {:class => "ui-icon-location", :target => "_blank"} %></li>
<% end %>