- cache(meeting.meeting) do
  %li
    - if meeting.closed?
      = link_to "Closed to alcoholics only", faq_path(:expand => "open-closed"), {'data-role' => 'button', 'data-icon' => 'info'}
    - else
      = link_to "Open to non-alcoholics", faq_path(:expand => "open-closed"), {'data-role' => 'button', 'data-icon' => 'info', "data-iconpos" => "right", "data-ajax" => "false", "rel" => "external"}
  - if meeting.format.present?
    %li.ui-li-desc
      %strong= "Format: "
      = meeting.format
  - if meeting.language.present?
    %li.ui-li-desc
      %strong= "Language: "
      = meeting.language
  - if meeting.features.present?
    %li.ui-li-desc
      %strong= "Features: "
      = meeting.features
  - if meeting.foci.present?
    %li.ui-li-desc
      %strong= "Special Focus: "
      = meeting.foci
  %li= link_to raw(meeting.address), meeting.map_url, {:class => "ui-icon-location", :target => "_blank"}
