<div data-role="header" data-theme="b">
  <h1>Meetings Found<span class="ui-li-count"><%= meeting_count(@meetings) %></span></h1>
</div>
<div data-role="content" data-theme="b" id="search-results-main">
  <ul data-role="listview">
    <% @meetings.each do |group| %>
      <% if !group.last.empty? %>
        <li data-role="list-divider"><%= group.first %></li>
        <% group.last.each do |meeting| %>
          <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
            <h2><%= "#{meeting.group_name} #{meeting.time}" %></h2>
            <ul data-role="listview" data-inset="true">
            <% if distance_display?(group.first) %>
              <li><%= meeting_with_distance(meeting) %></li>
            <% else %>
              <% cache(meeting.meeting) do %>
                <li><%= meeting_without_distance(meeting) %></li>
              <% end %>
            <% end %>
            <li><%= link_to raw(meeting.address), meeting.map_url, {:class => "ui-icon-location", :target => "_blank"} %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
