<div data-role="header" data-theme="b">
  <h1>Find a Meeting</h1>
</div>
<%= form_tag(controller: "mobile/search", action: "create", method: "post") do %>
  <div data-role="content" data-theme="b">
    <div class="menu-panel">
      <div class="inner-header">
        <%= select_tag(:city, options_for_select(@options.cities_select), {class: "menu-element"}) %>
     </div>
   </div>

  <div class="menu-panel">
    <div class="inner-header">
      <%= select_tag(:name, options_for_select(@options.names_select), {class: "menu-element"}) %>
   </div>
 </div>

  <div class="menu-panel">
    <div class="inner-header">
      <%= select_tag(:time, options_for_select(@options.times_select), {class: "menu-element"}) %>
   </div>
 </div>

  <fieldset data-role="controlgroup">
    <legend>Open or Closed:</legend>
    <%= radio_button_tag(:open, "open") %>
    <%= label_tag(:open_open, "Open (Non-alcoholics Okay)") %>
    <%= radio_button_tag(:open, "both", :true) %>
    <%= label_tag(:open_both, "Any (Open or Closed)") %>
    <%= radio_button_tag(:open, "closed") %>
    <%= label_tag(:open_closed, "Closed (Alcoholics Only)") %>
 </fieldset>



  <%= submit_tag("Show Meetings") %>
<% end %>



