%div{"data-position" => "fixed", "data-role" => "header", "data-tap-toggle" => "false"}
  %h1 New Search
%div{"data-role" => "content", :role => "main"}
  %button{ "class" => "meeting-search-hot-button", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "id" => "one-time" }
    = "Right Here Right Now"
  = form_tag(mobile_search_index_path, method: :post, remote: true) do
    - cache(cache_key_for(Meeting, "search-menu")) do
      = render partial: "location"
      = render partial: "day_time"
      = render partial: "group"
      = render partial: "open_closed"
      = render partial: "special_focus"
      = render partial: "access"
      = render partial: "language"
    = button_to "Search", mobile_search_index_path, {:method => :post, :class => "meeting-search-button", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "rel" => "external"}
= render "footer"

:javascript
  history.pushState("new_search", "New Search", "new");