%div{"data-position" => "fixed", "data-role" => "header", "data-tap-toggle" => "false", "data-theme" => "b"}
  %h1 New Search
%div{"data-role" => "content", "data-theme" => "b", :role => "main"}
  %button{ "class" => "meeting-search-hot-button", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "id" => "one-time" }
    = "Right Here Right Now"
  = form_tag(controller: "mobile/search", action: "create", method: "post", "data-ajax" => "false") do
    - cache(cache_key_for(Meeting, "search-menu")) do
      = render partial: "location"
      = render partial: "day_time"
      = render partial: "group"
      = render partial: "open_closed"
      = render partial: "special_focus"
      = render partial: "access"
      = render partial: "language"
    = button_to "Search", mobile_search_index_path, {:method => :post, :class => "meeting-search-button", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false", "rel" => "external"}
= render "footer"
