!!!
%html
  %head
    %title DenverMeetings
    %meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      = render partial: 'layouts/navbar'
      = render partial: 'layouts/flash'
      = yield
      = render partial: 'layouts/footer'
      