<!DOCTYPE html>
<html>
<head>
  <title>DenverMeetings</title>
  <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
  <%= stylesheet_link_tag 'mobile/mobile', media: 'all' %>
  <%= javascript_include_tag 'mobile/mobile', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div data-role="page" id="main">
    <%= yield %>
    <%= render partial: 'layouts/mobile/footer' %>
  </div>
</body>
</html>
